{#
 # ---------------------------------------------------------------------
 # Copyright (C) 2018 by Raynet SAS a company of A.Raymond Network.
 # http://www.araymond.com
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of AR Simplified Changes plugin for GLPI.
 #
 # This file is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 2 of the License, or
 # (at your option) any later version.
 #
 # GLPI is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 # -----
 #}

{% import 'components/form/fields_macros.html.twig' as macros %}


<div class="card-body">
   {{ macros.textField('name', data['name'], 'Name', {'maxlenght': '250'}) }}
   {{ macros.textareaField('comment', data['comment'], 'Comments') }}
   {{ macros.checkboxField('is_active', data['is_active'], 'Active') }}
   {{ macros.textField('css_selector_value', data['css_selector_value'], 'Value CSS selector', {'maxlenght': '200'}) }}
   {{ macros.textField('css_selector_altvalue', data['css_selector_altvalue'], 'Alternative value CSS selector', {'maxlenght': '200'}) }}
   {{ macros.textField('css_selector_errorsign', data['css_selector_errorsign'], 'Error sign CSS selector', {'maxlenght': '200'}) }}
   {{ macros.checkboxField('show_mandatory', data['show_mandatory'], 'Force mandatory sig') }}
   {{ macros.textField('show_mandatory_if', data['show_mandatory_if'], 'Mandatory sign formula', {'maxlenght': '200'}) }}
   {{ macros.textField('css_selector_mandatorysign', data['css_selector_mandatorysign'], 'Mandatory sign CSS selector', {'maxlenght': '200'}) }}
   {{ macros.textField('formula', data['formula'], 'Validation formula', {'maxlenght': '200'}) }}
</div>